* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle , #0b456b , #021c37);
}

.clock {
    width: 500px;
    height: 500px;
    min-width: 500px;
    min-height: auto;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle , #05263c , #000d1a); */
    background: radial-gradient(circle , #133e7c, #091833);
}

.clock::before{
    content:'';
    width: 525px;
    height: 525px;
    border-radius: 50%;
    position: absolute;
    /* background: linear-gradient(to right , #00d9ff , #ee00ff); */
    background: linear-gradient(to left,#0abdc6 ,  #ea00d9, #711c91);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #0abdc6;
    text-shadow: 0 0 12px #ea00d9;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: 	#711c91;
    border: 6px solid #0abdc6;
    border-radius: 50%;
}

.hour-hand, .minute-hand, .seconds-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    border-radius: 30px;
}
.hour-hand {
    width: 12px;
    height: 130px;
    /* background: linear-gradient(#00d9ff , #ee00ff); */
    background: linear-gradient(#0abdc6 ,  #ea00d9, #711c91);
}

.minute-hand{
    width: 12px;
    height: 180px;
    /* background: linear-gradient(to top, #00d9ff , #ee00ff); */
    background: linear-gradient(to top,#0abdc6 ,  #ea00d9, #711c91);
}

.seconds-hand {
    width: 6px;
    height: 210px;
    /* background: linear-gradient(#ee00ff ,#00d9ff , #ee00ff); */
    background: linear-gradient(to top, #711c91,#0abdc6 ,  #ea00d9, #711c91);
}