* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: radial-gradient(circle , #0b456b , #021c37);
}

.clock {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle , #05263c , #000d1a); */
    background: radial-gradient(circle , #133e7c, #091833);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.clock::before, .card::after{
    content:'';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    padding: 5px;
    position: absolute;
    /* background: linear-gradient(to right , #00d9ff , #ee00ff); */
    background-image: conic-gradient(from var(--angle),#0abdc6 ,  #ea00d9, #711c91 ,#0abdc6);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.4);
    z-index: -1;
    animation: 10s spin linear infinite
}

.clock::before{
    filter: blur(2rem);
    opacity: 0.7;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #0abdc6;
    text-shadow: 0 0 12px #ea00d9;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: 	#711c91;
    border: 6px solid #0abdc6;
    border-radius: 50%;
}

.hour-hand, .minute-hand, .seconds-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    border-radius: 30px;
}
.hour-hand {
    width: 12px;
    height: 130px;
    /* background: linear-gradient(#00d9ff , #ee00ff); */
    background: linear-gradient(#0abdc6 ,  #ea00d9, #711c91);
}

.minute-hand{
    width: 12px;
    height: 180px;
    /* background: linear-gradient(to top, #00d9ff , #ee00ff); */
    background: linear-gradient(to top,#0abdc6 ,  #ea00d9, #711c91);
}

.seconds-hand {
    width: 6px;
    height: 210px;
    /* background: linear-gradient(#ee00ff ,#00d9ff , #ee00ff); */
    background: linear-gradient(to top, #711c91,#0abdc6 ,  #ea00d9, #711c91);
}

@media (max-width: 500px){
    body{
        height: 100vh;
        min-width: 300px;
    }
    .clock{
        width: 300px;
        height: 300px;
    }
    .number{
        font-size: 24px;
        inset:10px;
    }
    .hour-hand{
        height: 90px;
        width: 8px;
    }
    .minute-hand{
        height: 110px;
        width: 8px;
    }
    .seconds-hand{
        height: 120px;
        width: 4px;
    }
    .center-dot{
        width: 15px;
        height: 15px;
        border: 3px solid #0abdc6;
    }
}